::-moz-selection {
  display: inline-block;
  text-shadow: none;
  /* color: $color__white;
  background: $color__heading; */
}
::selection {
  display: inline-block;
  text-shadow: none;
  /* color: $color__white; 
  background: $color__heading; */
}
