/*-------------------------------------------------------------- 
# image 
--------------------------------------------------------------*/
 @media screen and (max-width: 992px) {
     .exdda-image-width {
         max-width: 60px;
         height: 60px;
    }
     .exdda-image-width-two {
         width: 50px;
         height: 50px;
         position: relative;
         top: 15px;
         left: -10px;
    }
    .exdda-busket-image-content i {
        left: -85% !important;
    }
}
@media screen and (max-width: 350px) {
    .exdda-image-width {
         max-width: 50px;
         height: 45px;
    }
} 


.exdda-busket-image-content i {
    position: absolute;
    left: -50%;
    top: 36%;
}
@media screen and (max-width: 568px) {
     .exdda-busket-image-content .exdda-image-width-two {
         height: 30px;
    }
    .exdda-busket-image-content i {
        left: -116% !important;
        font-size: 12px;
        top: 22%;
    }
} 


