/*-------------------------------------------------------------- 
# image 
--------------------------------------------------------------*/
 @media screen and (max-width: 992px) {
     .exdda-image-width {
         width: 60px;
         height: 60px;
    }
     .exdda-image-width-two {
         width: 50px;
         height: 50px;
         position: relative;
         top: 15px;
         left: -10px;
    }
}
 @media screen and (max-width: 568px) {
     .exdda-image-width {
         width: 60px;
         height: 40px;
    }
}

.acc-body .image-content p {
    font-size: 15px;
}
