@import "accrodion";
@import "image";
/*--------------------------------------------------------------
 Checkout Line
--------------------------------------------------------------*/
.exdda-checkout-line-three:before,
.exdda-checkout-line-two:before,
.exdda-checkout-line-one:before {
  background: $bg_white_solid;
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  left: 0;
  top: 50%;
  z-index: 1;
}

.exdda-checkout-line-two:before {
  background: linear-gradient(to right, $border_color_yellow 40%,$bg_white_solid 40%);
}
.exdda-checkout-line-three:before {
  background: linear-gradient(to right, $border_color_yellow 70%,$bg_white_solid 70%);

}
.exdda-checkout-line-one > div,
.exdda-checkout-line-two > div, 
.exdda-checkout-line-three > div {
  position: relative;
  z-index: 11;
}
 @media screen and (max-width: 768px) {
    .exdda-checkout-line-three:before,
    .exdda-checkout-line-two:before,
    .exdda-checkout-line-one:before {
      display: none;
    }
    .exdda-checkout-line-one > div,
    .exdda-checkout-line-two > div, 
    .exdda-checkout-line-three > div {
      margin-bottom: 30px;
    }
}

table td i,
table td a {
  cursor: pointer;
}

/* ==== icon rotate ==== */
.exdda-rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.exdda-rotate.exdda-down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}


.icon-angle-double-down.exdda-down:before {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}

/* ==== Group content ==== */
.exdda-group-footer-content a:last-child {
  float: right;
  margin-top: -10px;
}
.exdda-group-footer-content a:hover {
  background-color: $bg_light_gray;
  color: white;
  transition: all .4s ease 0s;
}
.exdda-overview-content .grid-cols-3 {
    a {
      cursor: pointer;
      i {
        border: 1px solid $color_orange;
      }
    }
}
 @media screen and (max-width: 768px) {
  .exdda-overview-content .grid-cols-3 {
    a {
      line-height: 60px;
    }
  }
}
.overview-content .grid-cols-3 i:hover,
.exdda-hover:hover {
   background-color: $bg_light_gray;
   color: white;
   transition: all .4s ease 0s;
}
.exdda-hover-two:hover {
     background-color: $color_orange;
     color: white;
     transition: all .4s ease 0s;
}
.exdda-hover-three:hover {
     background-color: $bg_light_gray;
     color: white;
     transition: all .4s ease 0s;
     border: 1px solid $bg_light_gray;
}

