@import "accrodion";
@import "image";
@import "gallery";
/*--------------------------------------------------------------
 Checkout Line
--------------------------------------------------------------*/
.exdda-checkout-line-three:before,
.exdda-checkout-line-two:before,
.exdda-checkout-line-one:before {
  background: $bg_white_solid;
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  left: 0;
  top: 50%;
  z-index: 1;
}

.exdda-checkout-line-two:before {
  background: linear-gradient(to right, $border_color_yellow 40%,$bg_white_solid 40%);
}
.exdda-checkout-line-three:before {
  background: linear-gradient(to right, $border_color_yellow 70%,$bg_white_solid 70%);

}
.exdda-checkout-line-one > div,
.exdda-checkout-line-two > div, 
.exdda-checkout-line-three > div {
  position: relative;
  z-index: 11;
}
 @media screen and (max-width: 768px) {
    .exdda-checkout-line-three:before,
    .exdda-checkout-line-two:before,
    .exdda-checkout-line-one:before {
      display: none;
    }
    .exdda-checkout-line-one > div,
    .exdda-checkout-line-two > div, 
    .exdda-checkout-line-three > div {
      margin-bottom: 30px;
    }
}

table td i,
table td a {
  cursor: pointer;
}

/* ==== icon rotate ==== */
.exdda-rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.exdda-rotate.exdda-down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}


.icon-angle-double-down.exdda-down:before {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform: rotate(180deg);
}

/* ==== Group content ==== */
.exdda-group-footer-content a:last-child {
  float: right;
  margin-top: -10px;
}
/* ==== Body content ==== */
.bg-white.col-span-3 {
  top:0px;
  bottom:0;
  left:0;
  overflow-x:hidden;
  overflow-y:auto;
  scroll-behavior: smooth; 
  height: 100vh;
}
/* ==== Overview content ==== */
.exdda-overview-content .grid-cols-3 {
    a {
      cursor: pointer;
      i {
        border: 1px solid $color_orange;
      }
    }
}
 @media screen and (max-width: 768px) {
  .exdda-overview-content .grid-cols-3 {
    a {
      line-height: 60px;
    }
  }
}

/* ==== Hover effect ==== */
.exdda-overview-content .grid-cols-3 i:hover,
.exdda-hover:hover {
   background-color: $bg_light_gray;
   color: white;
   transition: all .4s ease 0s;
}
.exdda-hover-two:hover {
     background-color: $color_orange;
     color: white;
     transition: all .4s ease 0s;
}
.exdda-group-footer-content a:hover,
.exdda-hover-three:hover {
     background-color: $bg_light_gray;
     color: white;
     transition: all .4s ease 0s;
     border: 1px solid $bg_light_gray !important; 
}



/* ==== Dropdown ==== */
.exdda-dropdown {
  display: inline-block;
  position: relative;
}

.exdda-dd-button {
  cursor: pointer;
}

.exdda-dd-input {
  display: none;
}

.exdda-dd-menu {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  left: -100%;
  z-index: 9;
}

.exdda-dd-input + .exdda-dd-menu {
  display: none;
} 

.exdda-dd-input:checked + .exdda-dd-menu {
  display: block;
} 

.exdda-dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.exdda-dd-menu li:hover {
  background-color: #f6f6f6;
}

.exdda-dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.exdda-dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}