
.icon-user:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-trash-empty:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-linkedin:before { content: '\e80c'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
