
  /*-------------------------------------------------------------- 
  left sidebar 
  --------------------------------------------------------------*/
  .left-sidebar ul li.menu-item {
      cursor: pointer;
      transition-delay: 0.1s;
  }
  .left-sidebar ul li a {
      display: block;
  }

 
  @media screen and (min-width: 990px) {
     .exdda-toggle-btn {
      display: none;
     }
      #exdda-side-menu {  
       position:fixed;
       top:0px;
       bottom:0;
       left:0;
       width:337px;
       overflow-x:hidden;
       overflow-y:auto;
       scroll-behavior: smooth; 
     }
  }
  @media screen and (max-width: 990px) {
      #exdda-sidebar ul .exdda-menu-item {
        font-size: 16px; 
        width: 220px;
      }
      .menu {
        left:0px !important;
      }
      .left-sidebar {
          z-index: 110; 
      }
      .left-sidebar.active .exdda-toggle-btn {
          left:285px !important; 
      }
      .exdda-toggle-btn span {
        display:block;
        width:30px;
        height:5px;
        background:#151719;
        margin:5px 0px;
        cursor:pointer;
      }

      #exdda-side-menu{
        position: fixed;
        width: 300px;
        background-color: $bg_black;
        left: -300px;
        transition: ease-in-out 500ms;
        top:0px;
        bottom:0;
        overflow-x: hidden;
        overflow-y: visible;
        scroll-behavior: smooth; 
      }

      #exdda-side-menu ul li:hover i{
        transform:scale(1.1);
      }

      .exdda-toggle-btn{
        cursor: pointer;
          font-size: 30px;
          color: $color_text_main;
          position: fixed;
          left: 15px;
          top: 20px;
          transition: ease-in-out 500ms;
      }
      .menu-btn {
          left: 315px;
      }
      .exdda-toggle-btn:hover{
        transform: scale(1.2);
        text-shadow: 5px 5px 5px gray;
      }

  }
     