// Initial color
$color_white: #fff;			   // White
$color_orange: #FEB41C;			   // White
$color_memorized: #9196A4;	
//Text color
$color_text_main: #17191F; 		// body text main color
$color_heading: #17191F;           // Heading color

//border color
$border_color_one: #D1D5E0; 		// Widget. Feature background Stock, Read more border 
$border_color_yellow: #FEB41C; 		// Widget. Feature background Stock, Read more border 
$border_color_green: #6BC762; 		// Widget. Feature background Stock, Read more border 
$border_color_sky: #1ED0E9; 		// Widget. Feature background Stock, Read more border 
$border_color_red: #FE451C; 		// Widget. Feature background Stock, Read more border 

//Theme bg color
$bg_light_gray: #272A33;  		// Theme menu color
$bg_color_gray: #21b360;  		// Theme gray color
$bg_color_yellow: #FEB41C;		// Theme yellow color        
$bg_white_solid: #F5F6FA;		// Theme white solid color        
$bg_black: #17191F;		        // Theme block color        
//Placeholder color
$color_memorized: #9196A4;			// More link color
