// Initial color
$color__black: #000000;			   // Black
$color__white: #fff;			   // White
$color__background-main: #f7f7f7;  // Post area background
//Text color
$color__text-main: #7A7A7A; 		// body text main color
$color__heading: #121212;           // Heading color

//border color
$color__border-one: #ebebeb; 		// Widget. Feature background Stock, Read more border 
$color__border-two: #d0d0d0; 		// Widget. Feature background Stock, Read more border 

//Theme and other color
$color__theme-main: #21b360;  		// Theme and hover color
$footer__bg: #F7F7F7;		        // For Header And Footer And Menu Background
//link color
$color__fallow: #CF9C67;			// More link color
