$font__body: 'Poppins', serif;


$base__font-size: 16px;
$heading__one: 42px;
$heading__two: 22px;


$font__line-height-body: 1.45em;
$font__line-height-heading: 1.4em;
$font__line-height-paragraph: 1.75em;
$font__line-height-pre: 1.6em; 