$font_body: 'Poppins', serif;


$base_font_size: 16px;
$heading_one: 42px;
$heading_two: 22px;


$font_line_height_body: 1.45em;
$font_line_height_heading: 1.4em;
$font_line_height_paragraph: 1.75em;
$font_line_height_pre: 1.6em; 